<phpunit colors="true"
         verbose="true"
         syntaxCheck="true"
         stopOnError="false"
         backupGlobals="false"
         stopOnFailure="false"
         bootstrap="phpunit.php"
         processIsolation="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="Stormpath Laravel Auth Driver Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
        <exclude>
            <file>./src/Providers/AuthServiceProvider.php</file>
        </exclude>
    </filter>
    <logging>
        <log type="coverage-html" target="./code-coverage"  charset="UTF-8" yui="true" lowUpperBound="50" highLowerBound="90"/>
    </logging>
</phpunit>
